body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.main-logo {
  padding-top: 63px;
  padding-bottom: 38px;
}

.main-logo-link {
  font-size: 80px;
  line-height: 94px;
  color: #000000;
}
.main-logo-link-highlight {
  color: #4bcaff;
}

.nav-main-menu {
  background: #35444f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-main-menu-item {
  font-size: 24px;
  line-height: 28px;
  border-right: 1px solid #ffffff;
  padding: 26px 35px;
}

.nav-main-menu-link {
  color: #ffffff;
}

.nav-main-menu-item-additionally {
  border-left: 1px solid #ffffff;
}

.nav-main-menu-item:hover {
  background: #222f3a;
}

.main-content-wrapper {
  display: flex;
}

.nav-sidebar {
  width: 344px;
  margin-top: 48px;
  border: 1px solid #000000;
}

.nav-sidebar-item {
  font-size: 27px;
  line-height: 27px;
  padding: 26px 0 25px 44px;
}

.nav-sidebar-link {
  color: #485863;
}

.nav-sidebar-item:hover {
  background: #dbdbdb;
}

.nav-sidebar-link:hover {
  color: #000000;
  padding-left: 30px;
}

.ramda-description {
  margin-left: 52px;
  margin-top: 48px;
  width: 885px;
}

.photo-wrapper {
  border: 1px solid #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-ram {
  padding-top: 75px;
  padding-bottom: 73px;
  transition: transform 0.5s;
}

.photo-ram:hover {
  transform: scale(1.3);
}

.main-description {
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  padding-top: 37px;
}

.nav-footer {
  background: rgba(99, 105, 110, 0.48);
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  margin-bottom: 30px;
  padding: 20px 40px;
}

.nav-footer-menu {
  display: flex;
  justify-content: flex-start;
}

.nav-footer-menu-item {
  font-size: 28px;
  line-height: 28px;
  padding-right: 20px;
}

.nav-footer-menu-link {
  color: #0c1927;
}

.nav-footer-menu-link:hover {
  color: #145577;
  text-decoration: underline solid #145577;
}

.footer-copyright {
  font-size: 24px;
  line-height: 24px;
  color: #010101;
}
